// Typography
body {
  @include body-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
}

// Section Padding Settings
section {
  padding: 6rem 0;
  h2 {
    font-size: 2.25rem;
    line-height: 2rem;
  }
  @media (min-width: 992px) {
    h2 {
      font-size: 3rem;
      line-height: 2.5rem;
    }
  }
}

// Custom Button Size
.btn-xl {
  padding: 1rem 1.75rem;
  font-size: 1.25rem;
}

.button-pink {
    background-color: $pink;
    color: $white;
    margin: 0 auto;
    text-transform: capitalize;
    font-size: 2em;
    &:hover,
    &:focus,
    &:active {
      background-color: darken($color: $pink, $amount: 20);
      color: $white;
    }
  }

// Custom Rounded Social Button
.btn-social {
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  line-height: 2rem;
  color: $pink;
  &:hover,
  &:focus,
  &:active {
    color: $black;
  }
}

// Scroll to Top Button
.scroll-to-top {
  z-index: 1042;
  right: 1rem;
  bottom: 1rem;
  display: none;
  a {
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.1rem;
  }
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: $pink;
  fill: $pink;

  &:active,
  &.active,
  &:focus,
  &.focus {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
  }
}
