// Styling for the portfolio section
.portfolio {
  padding: 1rem;
}

.knavery {
  background-color: #353f97;
  padding: 4rem;
}

.escapade {
  background-color: #000000;
  padding: 4rem;
}

.new-releases {
  background-color: #A21D07;
  padding: 4rem;
}

.books {
  padding: 4rem;
}